body {
  background-color: #f7e4bb;
  font-weight: bold;
}

.title {
  text-align: center;
  color: #21de23;
}

.content {
  text-align: center;
  color: #149115;
}

#moodform-wrapper {
  padding-top: 50px;
  width: 100%;
  text-align: center;
}

#moodform.freebirdCustomFont {
  font-size: 1.3em;
}
